/* CSS Document */

body{
	padding:0px;
	margin:0px;
	background:url(../images/texture.PNG) fixed;
	margin-top:0px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	font-size:12px;
	color:#999;
	}
#web{
	margin:auto 0;
	padding:0px;
	min-width:997px;
	max-width:997px;
	height:auto;
	}
a{
	list-style:none;
	text-decoration:none;
	}
img{
	border:none;
	}
	
/*--------------------header---------------------------*/
#header_pjbs{
	width:100%;
	max-height:30px;
	position:fixed;
	z-index:10;
	background:url(../images/bg_header.png);
	-webkit-box-shadow: 0px 1px 2px 0px #999;
    -moz-box-shadow: 0px 1px 2px 0px #999;
  	box-shadow: 0px 1px 2px 0px #999;
	padding-bottom:5px;
	}
.header_pjbs{
	max-width:997px;
	max-height:30px;
	min-width:997px;
	min-height:30px;
	background:url(../images/bg_header.png);
	position:relative;
	overflow:hidden;
	}
.logo_pjbs{
	float:left;
	margin-left:5px;
	max-width:140px;
	max-height:100px;
	position:relative;
	overflow:hidden;
	}	
.logo_pjbs img{
	max-width:140px;
	max-height:100px;
	}
.login_pjbs{
	float:right;
	margin-top:8px;
	margin-right:10px;
	width:100%;
	}
.foto_login{
	max-width:56px;
	max-width:56px;
	float:right;
	position:relative;
	overflow:hidden;
	}
.foto_login img{
	max-width:52px;
	max-width:52px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:2px solid #CCC;
	}
.foto_login2{
	min-width:120px;
	max-width:120px;
	float:right;
	position:relative;
	overflow:hidden;
	}
.foto_login2 img{
	min-width:80px;
	max-width:80px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	margin-right:5px;
	border:1px solid #999;
	}
.stlog_pjbs{
	float:right;
	font-size:11px;
	}
.stlog_pjbs div{
	margin:5px;
	}
.menu_pjbs{
	float:right;
	min-height:10px;
	height:auto;
	margin:5px;
	margin-top:4px;
	margin-bottom:5px;
	text-transform:uppercase;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	}
.menu_pjbs li a{
	color:#333;
	font-weight:bold;
	}
.nama_pjbs{
	float:right;
	min-height:10px;
	height:auto;
	margin:5px;
	margin-top:4px;
	margin-bottom:5px;
	text-transform:capitalize;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	}
.menu_pjbs ul{
	margin-top:3px;
	margin-right:20px
	}
.menu_pjbs ul li{
	text-align:left;
	letter-spacing:-1px;
	display:inline-block;
	color:#300;
	letter-spacing:0px;
	margin-right:10px;
	float:left;
	}
.menu_pjbs ul li:hover{
	color:#666;
	}
.menu_pjbs ul .active li{
	color:#333;
	font-weight:700;
	}	
	
	
/*--------------------slider---------------------------*/	

#slider_pjbs{
	width:997px;
	position:relative;
	z-index:2;
	}
.slider_pjbs{
	margin-top:20px;
	max-width:997px;
	max-height:370px;
	min-width:997px;
	min-height:360px;
	background:url(../images/slider.PNG) center repeat-x;
	float:left;
	margin-bottom:-50px;
	}
.slider_pjbs2{
	margin-top:20px;
	max-width:100%;
	max-height:5px;
	min-width:100%;
	min-height:5px;
	background:none;
	float:left;
	margin-bottom:-50px;
	}
.desk{
		font-family:Arial, Helvetica, sans-serif;
		font-size:15px;
		color:#333;
		padding:10px;
		}
.desk p{
		margin-bottom:2px;
			}
.embossed{
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:30px;
		}
.embossed {
		color:#600;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6), /* shadow */ 0 -1px 0 rgba(255, 255, 255, 0.9);
		margin-right:15px;
		}
#slider1 img{
			margin-left:150px;
			}
		
/*-----------slider--------------*/
.exampleDiv {
	width:100%;
	position:relative;
}

#containerx {
	width: 920px;
	margin: auto;
	margin-top: 67px; padding-left:40px;
	padding-top: 10px;
}
 
#containerx h1 {
	color:#fff;
	font-size:60px;
	font-weight: normal;
	text-decoration:none;
	text-align:center;
}

#slider{
	width:962px;
	height:320px;
	padding-top:30px;
	padding-bottom:10px;
	}
	
/*--------------*/

.demo-wrap.border {
	border-top: dotted #c3c3c1 1px;
	padding-top: 15px;
}

.demo-wrap.border .bx-window {
	margin-top: 78px;
}

.demo-wrap .left {	
	width: 440px;
	float: right;
	margin:0;
}

.demo-wrap .right {
	width:470px;
	float: left;
	margin:0;
}

.demo-wrap .right .album {
	margin-top: 15px;
	font-size: 20px;
	color:#DFF894;
}

.demo-wrap .right .band {
	font-size: 12px;
	color: #FFFFFF;
}

.demo-wrap .multiple li {
	width: 190px;
}

.demo-wrap .bx-wrapper {
	margin: 0 auto;
}

.demo-wrap .bx-prev {
    background: url(../images/bigarrow-left.png) no-repeat scroll center center transparent;
    height: 110px;
    left: -52px;
    position: absolute;
    text-indent: -999999px;
    top: 105px;
    width: 52px;
	border:none;
	outline:none;
}

.demo-wrap .bx-next {
	position: absolute;
	top: 105px;
	right: -52px;
	width: 52px;
	height: 110px;
	text-indent: -999999px;
	background: url(../images/bigarrow-right.png) no-repeat center center transparent;
	border:none;
	outline:none;
}

/*-------------------content----------------------------*/
#content_pjbs{
	width:997px;
	position:relative;
	z-index:0;
	background:#FFF;
	height:auto;
	padding-bottom:10px;
}
.content_pjbs{
	max-width:997px;
	min-width:997px;
	min-height:359px;
	background:#fff;
	float:left;
	-webkit-box-shadow: 0px 1px 2px 0px #036;
    -moz-box-shadow: 0px 1px 2px 0px #036;
  	box-shadow: 0px 1px 2px 0px #036;
	height:auto;
	padding-bottom:10px;
	position:relative;
	overflow:hidden;
	}
hr{
	width:90%;
	float:left;
	margin-top:-10px;
	}
.sprtr_1{
	width:100%;
	height:25px;
	background:url(../images/sprtr.PNG) no-repeat;
	margin-top:35px;
	}
.pantau_pjbs div{
	margin:10px;
	margin-left:25px;
	float:left;
	}

/*-----------------footer------------------------------*/
#footer_pjbs{
	width:997px;
	position:relative;
	z-index:1;
	}
.footer_pjbs{
	max-width:997px;
	max-height:40px;
	min-width:997px;
	min-height:20px;
	background:url(../images/bg_footer.png);
	float:left;
	-webkit-box-shadow: 0px 1px 2px 0px #036;
    -moz-box-shadow: 0px 1px 2px 0px #036;
  	box-shadow: 0px 1px 2px 0px #036;
	padding-top:5px;
	padding-bottom:5px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	}
	
/*-------------formating-------------*/
.fleft{
	float:left;
	}
.fright{
	float:right;
	}
.clear{
	clear:both
	}
.mrgl15{
	margin-left:15%;
	}
td{
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	}
th{
	font-size:12px;
	font-weight:bold;
	color:#333;
	font-family:Tahoma, Geneva, sans-serif;
	}
.judul_pjbs h3{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:25px;
	font-weight:bold;
	letter-spacing:-1px;
	color:#333;
	padding:0px;
	}
.judul_pjbs h4{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	letter-spacing:-1px;
	color:#333;
	padding:0px;
	padding-top:5px;
	}
.judul_pjbs{
	text-align:left;
	padding:2px;
	}
	
/*-------------------btn---------------------*/
.btn{
	min-width:30px;
	min-height:40px;
	width:auto;
	background:#CCC;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border:solid 1px #CCC;
	color:#333;
	font-weight:bold;
	padding-top:3px;
	padding-left:9px;
	padding-right:10px;
	padding-bottom:3px;
	font-size:10px;
	margin:2px;
	margin-left:2px;
	margin-left:1px;
	}
.btn:hover{
	color:#000;
	cursor:pointer;
	border:none;
	}
.lgt{
	color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#F00;
	*background-color:#900;
	background-image:-moz-linear-gradient(top,#ee5f5b,#900);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#900));
	background-image:-webkit-linear-gradient(top,#ee5f5b,#900);
	background-image:-o-linear-gradient(top,#ee5f5b,#900);
	background-image:linear-gradient(to bottom,#ee5f5b,#900);
	background-repeat:repeat-x;border-color:#900 #900 #802420;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ff900',GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border:none;
	}
.lgt:hover{
	color:#FF6;
	}
.lgn{
	color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#09C;
	*background-color:#069;
	background-image:-moz-linear-gradient(top,#08c,#069);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#069));
	background-image:-webkit-linear-gradient(top,#08c,#069);
	background-image:-o-linear-gradient(top,#08c,#069);
	background-image:linear-gradient(to bottom,#08c,#069);
	background-repeat:repeat-x;border-color:#069 #069 #002a80;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border:none;
	}
.lgn:hover{
	color:#0FF;
	}

.notif{
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:4px;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	
	color:#FFF;
	font-size:bold;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	background-color:#0C0;
	*background-color:#6C0;
	background-image:-moz-linear-gradient(top,#62c462,#6C0);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#6C0));
	background-image:-webkit-linear-gradient(top,#62c462,#6C0);
	background-image:-o-linear-gradient(top,#62c462,#6C0);
	background-image:linear-gradient(to bottom,#62c462,#6C0);
	background-repeat:repeat-x;border-color:#6C0 #6C0 #387038;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff6C0',GradientType=0);

	}
/*--------------alignt---------------------*/
.panel50kn{
	width:50%;
	float:right;
	}
.panel50kr{
	width:50%;
	float:left;
	}
.panel90{
	width:95%;
	height:auto;
	min-height:10px;
	min-width:900px;
	margin-top:3px;
	margin-bottom:5px;
	padding:0px;
	}
.panel50{
	width:50%;
	height:auto;
	min-height:500px;
	min-height:100px;
	margin-top:3px;
	margin-bottom:10px;
	float:left;
	margin:15px;
	padding-bottom:10px;
	}
input{
	max-height:28px;
	}
.input_pjbs{
	padding-bottom:13px;
	}
.inp_panel{
	float:left;
	padding-top:1px;
	padding-bottom:10px;
	}
.my_prof td{
	font-size:13px;
	}